#menu {
    background-color: rgba(221, 233, 241, 1);
    text-align: center;
    position: fixed;
    top: 0;
    width: 90vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#menu ul {
    margin: 0%;
    padding: 0%;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 38.5px 10px 39px 10px;
}

#menu ul li a {
    color: #000;
    font-size: 2vw;
    font-weight: bold;
    padding: 40px 10px 40px 10px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #5447fd;
    color: #fff;
}

.logo,
.logo:hover {
    background: #5447fd url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 71px !important;
    padding-right: 71px !important;
}

.logo2 {
    background: #fff url(../img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 71px !important;
    padding-right: 71px !important;
}

#slider {
    background: url(../img/foto.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 83vh;
    width: 90vw;
    margin-top: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -o-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}