* {
    font-family: Arial;
}

body {
    background-color: #24607f;
    padding: 0%;
    margin: 0%;
}

#container {
    margin: 13% auto;
    width: 90vw;
}

.seleccionado {
    background-color: #82a7ec;
    color: #fff !important;
}


h2 {
    color: #a3e0ff;
    font-size: 4vw;
    margin-top: 50px;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.contenido {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -o-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    height: 90vh;
}

.contenido p {
    font-size: 2vw;
    padding: 1vw;
    text-align: justify;
}

.contenido div {
    width: 33%;
    float: right;
}

textarea {
    height: 100px;
    width: 400px;
}

.campo,
textarea {
    background: #eee;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 60vw;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.campo:focus,
textarea:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 0 10px #24607f;
    -webkit-box-shadow: 0 0 10px #24607f;
    -moz-box-shadow: 0 0 10px #24607f;
    -o-box-shadow: 0 0 10px #24607f;
}

.boton {
    background: #ff8a00;
    border: 0;
    color: #fff;
    margin-left: 5vw;
    padding: 3vw;
    width: 20vw;
    border-radius: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 2vw;
}

.boton:hover {
    background-color: #ff5105;
}


/* multimedia */

#faq .contenido {
    height: auto;
}

.multimedia {
    height: auto;
    width: 89vw;
}

