* {
    font-family: Arial;
}

body {
    background-color: #24607f;
    padding: 0%;
    margin: 0%;
}

#container {
    margin: 13% auto;
    width: 90vw;
}

#menu {
    background-color: rgba(221, 233, 241, 1);
    text-align: center;
    position: fixed;
    top: 0;
    width: 90vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#menu ul {
    margin: 0%;
    padding: 0%;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 38.5px 10px 39px 10px;
}

#menu ul li a {
    color: #000;
    font-size: 2vw;
    font-weight: bold;
    padding: 40px 10px 40px 10px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #5447fd;
    color: #fff;
}

.logo,
.logo:hover {
    background: #5447fd url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 71px !important;
    padding-right: 71px !important;
}

.logo2 {
    background: #fff url(../img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 71px !important;
    padding-right: 71px !important;
}

.seleccionado {
    background-color: #82a7ec;
    color: #fff !important;
}

#slider {
    background: url(../img/foto.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 83vh;
    width: 90vw;
    margin-top: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -o-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #a3e0ff;
    font-size: 4vw;
    margin-top: 50px;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.contenido {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -o-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    height: 90vh;
}

.contenido p {
    font-size: 2vw;
    padding: 40px;
    text-align: justify;
}

.contenido div {
    width: 33%;
    float: right;
}

#profile {
    height: auto;
    background-color: #cdd2de;
}

#profile p {
    width: 48%;
    display: inline-block;
    padding-left: 4%;
    text-indent: 1cm;
}

#profile img {
    width: 36%;
    height: auto;
    display: inline-block;
    padding: 6% 0% 11% 5%;
    vertical-align: top;
    border-radius: 70% !important;
    -webkit-border-radius: 70%!important;
    -moz-border-radius: 70% !important;
    -o-border-radius: 70%!important;
}

#formulario {
    background-color: #d2d2d2;
    padding: 10%;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}

#formulario form {
    font-size: 2vw;
    text-align-last: center;
}

textarea {
    height: 100px;
    width: 400px;
}

.campo,
textarea {
    background: #eee;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 60vw;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.campo:focus,
textarea:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 0 10px #24607f;
    -webkit-box-shadow: 0 0 10px #24607f;
    -moz-box-shadow: 0 0 10px #24607f;
    -o-box-shadow: 0 0 10px #24607f;
}

.boton {
    background: #ff8a00;
    border: 0;
    color: #fff;
    margin-left: 5vw;
    padding: 3vw;
    width: 20vw;
    border-radius: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 2vw;
}

.boton:hover {
    background-color: #ff5105;
}


/* multimedia */

#faq .contenido {
    height: auto;
}


/* contact */

.contcontact {
    height: auto;
}

#contacto .contenido div {
    height: auto;
    padding: 5%;
    float: left;
    width: 81vw;
    background-color: #cdd2de;
    margin-bottom: 50px;
}

#contacto .contenido div h1 {
    font-size: 3vw;
    text-indent: 1cm;
    margin-bottom: 0.8cm;
    border: outset;
}

#contacto .contenido div label {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
}

#contacto .contenido p {
    font-size: 2vw;
    padding: 1%;
    /* padding-bottom: 1%;
    margin-bottom: -1%; */
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-weight: bold;
    background-color: #82a7ec;
}

#contacto .contenido a {
    color: #24607f;
}

#contacto .contenido a:hover {
    color: #a3e0ff;
}


/* footer */

#footer {
    font-size: 1vw;
    font-weight: bolder;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
}

#footer .contenido {
    height: auto;
}

#footer .contenido p {
    background-color: #6786e1;
    font-family: monospace;
    font-size: 3vw;
    text-align: center;
}

#footer .contenido h2 {
    text-align: center;
}


/* Proyect */

.proyect {
    height: auto;
    background-color: #cdd2de;
}

.proyect p {
    font-weight: bold;
    text-align: justify;
    background-color: #82a7ec;
    border-radius: 0% 0% 5% 5%;
    -webkit-border-radius: 0% 0% 5% 5%;
    -moz-border-radius: 0% 0% 5% 5%;
    -o-border-radius: 0% 0% 5% 5%;
}

.proyect h4 {
    font-size: 2vw;
    padding: 0%;
    text-indent: 1cm;
    color: #5a5a5a;
    padding-right: 5%;
    text-align: justify;
}

.proyect ul {
    padding-bottom: 9vh;
}

.proyect ul li {
    list-style: none;
    font-size: 4vw;
    padding: 1vw;
}

.proyect a {
    text-decoration: none;
    color: #5447fd;
}

.proyect a:hover {
    color: #82a7ec;
}

@media (max-width:852px) {
    #profile {
        height: auto;
    }
    #profile p {
        width: 90%;
        display: inline-block;
    }
    #profile img {
        width: 56%;
        height: auto;
        display: inline-block;
        margin: 0% 0% 0% 23%;
        padding: 0% 0% 11% 0%;
        border-radius: 70% !important;
        -webkit-border-radius: 70%!important;
        -moz-border-radius: 70% !important;
        -o-border-radius: 70%!important;
    }
}

@media (max-width:610px) {
    #container {
        margin: 13% auto;
        width: 100vw;
    }
    #contacto .contenido div h1 {
        width: 80vw;
    }
    #contacto .contenido div {
        width: 90vw;
    }
    #slider {
        width: 100vw;
    }
    .logo {
        padding: 0 !important;
        display: none;
    }
    #menu {
        width: 100vw;
    }
    #menu ul {
        justify-content: top !important;
        padding-top: 0% !important;
        text-transform: uppercase;
    }
    #menu ul li {
        padding-top: 0%, 1%, 0%, 1% !important;
        display: inline-block;
    }
    #menu ul li a {
        padding: 0px, 1%, 0px, 1% !important;
        font-size: 6vw;
    }
    .otherslinkmenu {
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }
    a {
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .iniciolinkmenu {
        padding: 0 !important;
    }
    #profile p {
        display: block;
        padding-left: 4%;
    }
    .proyect ul {
        padding-right: 2vw;
    }
}

.multimedia {
    height: auto;
    width: 89vw;
}